#book-icon{
    float: left;
    padding: 10px;
}

#title-left-book-icon{
    float:left;
    margin-top:40px;
}

.clear{
    clear:both
}

#questions{
    min-height: 200px;
    padding-bottom: 20px;
}

#questions .questionOptions li{
    list-style: none;
}

#content-box{
    margin-top: 20px;
}
.container {
    overflow:auto;
    background: white;
    -webkit-border-radius: 15px 15px 15px 15px;
    border-radius: 15px 15px 15px 15px;
}

body{
    background-color: #e6e6e6 !important;
}

#submitSubmit{}

.question{
    padding: 10px;
}

.question ul {
    list-style: none;
}

.hide{
    display: none;
}