* {
	margin: 0;
	padding: 0;
	list-style: none;
	font-family: inherit;
	margin: 0;
	padding: 0;
	box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box
}
html {
	font-family: 'Roboto', sans-serif;
	font-size: 10px;
	text-decoration: none;
	box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
	-webkit-font-smoothing: antialiased;
  -webkit-text-size-adjust: none
}
body {
	background: #F0F0F0
}
body:before {
	content: "";
  background-image: url(../img/background-01.svg);
  width: 126px;
  height: 177px;
  position: absolute;
  top: 65px;
  right: 2%
}
body:after {
	content: "";
  background-image: url(../img/background-02.svg);
  width: 566px;
  height: 210px;
  position: fixed;
  bottom: 0;
  left: 2%
}
section {
	width: 100%;
	padding: 5em 0;
	position: relative;
	transition: all .5s ease-in-out
}
img {
	max-width: 100%;
	vertical-align: middle
}
header {
	padding: 1.5rem 0;
  width: 100%;
  position: fixed;
  background-color: #0F759C;
  z-index: 9999;
  top: 0;
	transition: all .5s ease-in-out
}
.row {
	margin-right: -20px;
	margin-left: -20px
}
.container {
	max-width: 1280px;
	width: 95%;
	margin: 0 auto;
	overflow: hidden
}
.col-xxs-offset-1, .col-xxs-offset-2, .col-xxs-offset-3, .col-xxs-offset-4, .col-xxs-offset-5, .col-xxs-offset-6, .col-xxs-offset-7, .col-xxs-offset-8, .col-xxs-offset-9, .col-xxs-offset-10, .col-xxs-offset-11, .col-xxs-offset-12, .col-xs-offset-1, .col-xs-offset-2, .col-xs-offset-3, .col-xs-offset-4, .col-xs-offset-5, .col-xs-offset-6, .col-xs-offset-7, .col-xs-offset-8, .col-xs-offset-9, .col-xs-offset-10, .col-xs-offset-11, .col-xs-offset-12, .col-sm-offset-1, .col-sm-offset-2, .col-sm-offset-3, .col-sm-offset-4, .col-sm-offset-5, .col-sm-offset-6, .col-sm-offset-7, .col-sm-offset-8, .col-sm-offset-9, .col-sm-offset-10, .col-sm-offset-11, .col-sm-offset-12, .col-md-offset-1, .col-md-offset-2, .col-md-offset-3, .col-md-offset-4, .col-md-offset-5, .col-md-offset-6, .col-md-offset-7, .col-md-offset-8, .col-md-offset-9, .col-md-offset-10, .col-md-offset-11, .col-md-offset-12 {
	margin: 0 auto;
	overflow: hidden;
	transition: all .5s ease-in-out
}
.col-xxs-1, .col-xxs-2, .col-xxs-3, .col-xxs-4, .col-xxs-5, .col-xxs-6, .col-xxs-7, .col-xxs-8, .col-xxs-9, .col-xxs-10, .col-xxs-11, .col-xxs-12, .col-xs-1, .col-xs-2, .col-xs-3, .col-xs-4, .col-xs-5, .col-xs-6, .col-xs-7, .col-xs-8, .col-xs-9, .col-xs-10, .col-xs-11, .col-xs-12, .col-sm-1, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-10, .col-sm-11, .col-sm-12 ,.col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-10, .col-md-11, .col-md-12 {
	float: left;
	padding: 0 20px;
	transition: all .5s ease-in-out
}
.col-md-12, .col-md-offset-12 {
	width: 100%
}
.col-md-11, .col-md-offset-11 {
	width: 91.66666663%
}
.col-md-10, .col-md-offset-10 {
	width: 83.3333333%
}
.col-md-9, .col-md-offset-9 {
	width: 75%
}
.col-md-8, .col-md-offset-8 {
	width: 66.66666664%
}
.col-md-7, .col-md-offset-7 {
	width: 58.33333331%
}
.col-md-6, .col-md-offset-6 {
	width: 50%
}
.col-md-5, .col-md-offset-5 {
	width: 41.66666665%
}
.col-md-4, .col-md-offset-4 {
	width: 33.33333332%
}
.col-md-3, .col-md-offset-3 {
	width: 24.99999999%
}
.col-md-2, .col-md-offset-2 {
	width: 16.66666666%
}
.col-md-1, .col-md-offset-1 {
	width: 8.33333333%
}
h1, h2, h3, h4, p, small {
	line-height: 1.2em;
	margin-bottom: 0.5em;
	transition: all .5s ease-in-out
}
h1 {
	font-size: 2.4rem;
	margin: 10px 0 0;
	color: #FFF;
	display: inline-block
}
h2 {
	font-size: 2.6rem
}
h3 {
	font-size: 2.4rem
}
h4 {
	font-size: 2rem
}
h5 {
	font-size: 1.8rem
}
p {
	font-size: 1.9rem;
	line-height: 1.9em;
	color: #5C5959
}
small {
	font-size: 1rem
}
span {
}
a {
	text-decoration: none
}
button {
	font-size: 1.6rem !important;
	font-family: inherit;
	text-align: center;
	color: #43BBDB;
	width: 30%;
	padding: 2rem;
	margin: 2rem;
	background: none;
	border-radius: 10px;
	border: 2px solid;
	overflow: hidden;
	position: relative;
	display: inline-block;
	-webkit-appearance: button;
	cursor: pointer;
	-webkit-appearance: none;
	-moz-appearance: none;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	white-space: nowrap;
	vertical-align: middle;
	-ms-touch-action: manipulation;
	touch-action: manipulation;
	transition: all .2s ease-in-out;
}
button:hover {
  color: #00749E;

}
button.start{
    width: 100% !important;
    background-color: #0F759C;
    color: #FFF;
    margin-left: -23px;
}
button.start:hover{
    background-color: #A0C23F;
    color: #FFF !important;
}

nav {
	float: right
}
.container-rounded {
	display: block;
	margin: 60px auto 40px auto !important;
	position: absolute;
	z-index: 1;
	left: 0;
	right: 0;
	padding: 5rem !important;
	background: #FFF;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
  padding: 40px 40px 0 40px;
  -webkit-box-shadow: 0 0 30px rgba(0,0,0,0.08);
  -moz-box-shadow: 0 0 30px rgba(0,0,0,0.08);
  box-shadow: 0 0 30px rgba(0,0,0,0.08)
}
#progress-bar {
	display: block;
  width: 100%;
  height: 70px;
  margin: 0 auto 4rem;
	left: -30px;
	position: relative
}
.progress-bar-dynamic {
	background-color: #fff;
  border: 2px solid #ddd;
  height: 23px;
  width: 800px;
  position: relative;
  margin: 0 auto;
  border-radius: 100px 0 0 100px;
  top: 24px
}
.progress-bar-dynamic .bar-green {
	background-color: #A0C23F;
  min-width: 10px;
  -webkit-border-radius: 100px;
  -moz-border-radius: 100px;
  border-radius: 100px;
  -webkit-transition: all .5s;
  -moz-transition: all .5s;
  -ms-transition: all .5s;
  -o-transition: all .5s;
  transition: all .5s;
  position: relative;
  height: 19px
}
.skill-icon-container {
  float: right;
  top: -48px;
  left: -10px;
  right: 0;
  position: relative
}
.challenge-number-container {
  position: relative;
  top: -20px
}
.challenge-step-num {
	position: absolute;
	left: 16px;
	z-index: 2;
	top: 40px;
	text-align: center;
	width: 35px;
	font-size: 3rem;
	letter-spacing: -.2rem;
	font-weight: 600;
	color: #A0C23F
}
.challenge-num {
  position: absolute;
  left: 48px;
  right: 0;
  z-index: 2;
  top: 65px;
  text-align: center;
  width: 35px;
  font-size: 1.3rem;
  color: #999
}
.challenge-num-circle {
	z-index: 1;
  width: 31px;
  height: 31px;
  position: absolute;
  -webkit-border-radius: 100px;
  -moz-border-radius: 100px;
  border-radius: 100px;
  top: 57px;
  left: 47px;
  right: 0;
	background-color: #fff
}
.challenge-step-num-complete, .challenge-num-complete {
	color: #FFF
}
.challenge-num-backing {
  width: 35px;
  height: 35px;
  border: 2px solid #ddd;
  position: absolute;
  -webkit-border-radius: 100px;
  -moz-border-radius: 100px;
  border-radius: 100px;
  z-index: 0;
  top: 55px;
  left: 45px;
  right: 0
}
.skill-icon {
    top: 3px;
    left: 2px;
    right: 0;
    width: 67px;
    height: 67px;
	background-color: #fff;
    -webkit-border-radius: 400px;
    -moz-border-radius: 400px;
    border-radius: 400px;
    display: inline-block;
    position: absolute;
    text-align: center
}
.skill-icon-complete, .challenge-num-circle-complete {
	background-color: #A0C23F
}
.backing {
  width: 70px;
  height: 70px;
  border: 2px solid #ddd;
  position: absolute;
  left: auto;
  right: 201px;
  -webkit-border-radius: 60px;
  -moz-border-radius: 60px;
  border-radius: 60px;
  z-index: -1;
  right: -60px;
  top: -27px
}
.question {
	margin-bottom: 2rem
}
.answer {
	width: 100%;
    text-align: left;
    border-radius: 10px;
    padding: 2rem;
    color: #FFF;
    font-size: 1.6rem;
	border: 2px solid;
	margin-top: 2rem;
	background-color: #359fbc
}
.answer a {
	cursor: pointer
}
.answer:hover {
  color: #00749E
}
.true {
	background-color: #A0C23F;
	border: 2px solid #A0C23F;
	color: #FFF;
	font-size: 1.8rem;
}
.false {
	background-color: #F3BFC6;
	border: 2px solid #F3BFC6;
	color: #FFF
}
.true:hover, .false:hover {
	color: #FFF
}
h1 img {
	margin: -2px 1.5rem 0 0;
	width: 30px
}
.notication {
	float: left;
	position: relative;
	right: 10px
}
.notication-circle {
	width: 4rem;
	height: 4rem;
	background-color: #FFAD02;
	border-radius: 100px;
	margin-top: 4px;
	display: block
}
.notication-circle img {
	margin: 5px 0 0 8px
}
.notication-number {
	color: #FFF;
	font-size: 1.2rem;
	font-weight: 500;
	position: absolute;
	top: 2px;
	right: -4px;
	z-index: 1
}
.notication-number-circle {
	width: 1.8rem;
	height: 1.8rem;
	background-color: #F4001E;
	border-radius: 100px;
	display: block;
	position: absolute;
	top: 0;
	right: -10px
}
.profile {
	float: left;
	position: relative;
	right: 4rem
}
.profile-avatar {
	border: 2px solid #FFF;
	border-radius: 100px;
	display: inline-block;
	padding: 10px;
}
.profile-name {
	color: #FFF;
	font-size: 1.6rem;
	font-weight: 500;
	margin-left: 1.5rem
}
.profile-name img {
	margin-left: 1rem;
	transition: all .3s ease-in-out
}
.profile:hover .profile-name img {
	-webkit-transform: rotate(180deg);
	-moz-transform: rotate(180deg);
	transform: rotate(180deg)
}
figure {
	margin: 2rem 0
}
figure img {
	margin: 0 auto;
  display: block
}
.text-center {
	text-align: center
}
.separator {
	border-right: 1px solid #e5e5e5
}
.margin {
	margin-top: 3rem !important;
	margin-bottom: 3rem !important
}

@media screen and (max-width:992px) {
	.progress-bar-dynamic {
		width: 550px
	}
	.separator {
		border: none
	}
	.col-sm-12, .col-sm-offset-12 {
		width: 100%
	}
	.col-sm-11, .col-sm-offset-11 {
		width: 91.66666663%
	}
	.col-sm-10, .col-sm-offset-10 {
		width: 83.3333333%
	}
	.col-sm-9, .col-sm-offset-9 {
		width: 75%
	}
	.col-sm-8, .col-sm-offset-8 {
		width: 66.66666664%
	}
	.col-sm-7, .col-sm-offset-7 {
		width: 58.33333331%
	}
	.col-sm-6, .col-sm-offset-6 {
		width: 50%
	}
	.col-sm-5, .col-sm-offset-5 {
		width: 41.66666665%
	}
	.col-sm-4, .col-sm-offset-4 {
		width: 33.33333332%
	}
	.col-sm-3, .col-sm-offset-3 {
		width: 24.99999999%
	}
	.col-sm-2, .col-sm-offset-2 {
	 	width: 16.66666666%
	}
	.col-sm-1, .col-sm-offset-1 {
	 	width: 8.33333333%
	}
	h2 {
		font-size: 2.6rem
	}
	h3 {
		font-size: 2.0rem
	}
	h4 {
		font-size: 1.8rem
	}
}

@media screen and (max-width:768px) {
	body:before {
		display: none
	}
	body:after {
		display: none
	}
	.col-xs-12, .col-xs-offset-12 {
		width: 100%
	}
	.col-xs-11, .col-xs-offset-11 {
		width: 91.66666663%
	}
	.col-xs-10, .col-xs-offset-10 {
		width: 83.3333333%
	}
	.col-xs-9, .col-xs-offset-9 {
		width: 75%
	}
	.col-xs-8, .col-xs-offset-8 {
		width: 66.66666664%
	}
	.col-xs-7, .col-xs-offset-7 {
		width: 58.33333331%
	}
	.col-xs-6, .col-xs-offset-6 {
		width: 50%
	}
	.col-xs-5, .col-xs-offset-5 {
		width: 41.66666665%
	}
	.col-xs-4, .col-xs-offset-4 {
		width: 33.33333332%
	}
	.col-xs-3, .col-xs-offset-3 {
		width: 24.99999999%
	}
	.col-xs-2, .col-xs-offset-2 {
	 	width: 16.66666666%
	}
	.col-xs-1, .col-xs-offset-1 {
	 	width: 8.33333333%
	}
	h2 {
		font-size: 2rem
	}
	h3 {
		font-size: 2rem
	}
	h4 {
		font-size: 1.8rem
	}
	h5 {
		font-size: 1.6rem
	}
	p {
		font-size: 1.4rem
	}
	button {
		width: auto
	}
	.container-rounded {
		margin: 50px auto 20px auto !important
	}
	#progress-bar {
		left: 0;
		height: 50px;
		margin: 0 auto 2rem
	}
	.progress-bar-dynamic {
		width: 100%;
		border-radius: 100px;
		height: 16px;
		top: 0
	}
	.progress-bar-dynamic .bar-green {
		height: 12px
	}
	.skill-icon {
		display: none
	}
	.challenge-step-num {
		top: 75px;
		left: -46px;
	}
	.backing {
		display: none
	}
	.challenge-num {
		left: -16px;
		top: 90px
	}
	.challenge-num:before {
		content: "/"
	}
	.challenge-num-circle {
		display: none
	}
	.challenge-num-backing {
		display: none
	}
	.challenge-step-num-complete {
		color: #A0C23F
	}
	.challenge-num-complete {
		color: #999
	}
}

@media screen and (max-width:480px) {
	section {
    padding: 0 0
	}
	header {
    padding: .6rem 0
	}
	.col-xxs-12, .col-xxs-offset-12 {
		width: 100%
	}
	.col-xxs-11, .col-xxs-offset-11 {
		width: 91.66666663%
	}
	.col-xxs-10, .col-xxs-offset-10 {
		width: 83.3333333%
	}
	.col-xxs-9, .col-xxs-offset-9 {
		width: 75%
	}
	.col-xxs-8, .col-xxs-offset-8 {
		width: 66.66666664%
	}
	.col-xxs-7, .col-xxs-offset-7 {
		width: 58.33333331%
	}
	.col-xxs-6, .col-xxs-offset-6 {
		width: 50%
	}
	.col-xxs-5, .col-xxs-offset-5 {
		width: 41.66666665%
	}
	.col-xxs-4, .col-xxs-offset-4 {
		width: 33.33333332%
	}
	.col-xxs-3, .col-xxs-offset-3 {
		width: 24.99999999%
	}
	.col-xxs-2, .col-xxs-offset-2 {
	 	width: 16.66666666%
	}
	.col-xxs-1, .col-xxs-offset-1 {
	 	width: 8.33333333%
	}
	h1 {
		font-size: 1.6rem;
		margin: 6px 0 0
	}
	h2 {
		font-size: 1.6rem
	}
	p {
		font-size: 1.3rem
	}
	button {
		width: 100%;
		margin: 1rem 0
	}
	.profile {
    right: 2rem
	}
	.profile-avatar {
    width: 34px
	}
	.profile-name {
		display: none
	}
	.notication-circle {
    width: 34px;
    height: 34px;
    margin-top: 0
	}
	.notication-circle img {
    margin: 5px 0 0 8px;
		width: 18px
	}
	.notication-number {
    font-size: 1.1rem;
    top: 3px
	}
	.container-rounded {
    margin: 0 0 !important;
		width: 100%;
		padding: 7rem 2rem 2rem 2rem !important;
		border-radius: 0
	}
	#progress-bar {
    margin: 0 auto 2rem
	}
	.question {
		margin-bottom: 1rem
	}
	.answer {
    padding: 1.5rem;
    font-size: 1.3rem;
		margin-top: 1.5rem
	}
	.margin {
		margin-top: 1rem !important;
		margin-bottom: 1rem !important
	}
	figure {
		margin-top: 1.5rem
	}
}

@media screen and (max-width:320px) {
	h2 {
		font-size: 2rem
	}
}
