<!doctype html>
<html lang="pt-br">
<head>
	<title>QuizDuEnem - Simulado Digital</title>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta name="description" content="Prepare-se para o enem com um simulado das questões das provas anteriores. Reunimos tudo de uma forma divertida e fácil pra você estudar em qualquer lugar a qualquer momento. ">
	<meta name="keywords" content="simulado preparatorio enem prova provas questoes ">
	<meta name="robots" content="index, follow">
	<meta name="googlebot" content="index, follow">
	<meta name="author" content="brunousml@gmail.com">

    {% load static %}

	<!-- Stylesheets -->
	<link rel='stylesheet' href="{% static 'enem/css/style.css' %}" media='all' />
	<link rel='stylesheet' href="{% static 'enem/css/circle.css' %}" media='all' />
	<!-- Fonts -->
    <script src="{% static 'enem/lib/react/build/react.js' %}" ></script>
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700" rel="stylesheet">
	<!-- Favicons -->
	<link rel="apple-touch-icon-precomposed"   href="{% static 'enem/img/favicon/apple-icon-57x57.png' %}"  sizes="57x57" />
	<link rel="apple-touch-icon" sizes="60x60" href="{% static 'enem/img/favicon/apple-icon-60x60.png' %}">
	<link rel="apple-touch-icon" sizes="72x72" href="{% static 'enem/img/favicon/apple-icon-72x72.png' %}">
	<link rel="apple-touch-icon" sizes="76x76" href="{% static 'enem/img/favicon/apple-icon-76x76.png' %}">
	<link rel="apple-touch-icon" sizes="114x114" href="{% static 'enem/img/favicon/apple-icon-114x114.png' %}">
	<link rel="apple-touch-icon" sizes="120x120" href="{% static 'enem/img/favicon/apple-icon-120x120.png' %}">
	<link rel="apple-touch-icon" sizes="144x144" href="{% static 'enem/img/favicon/apple-icon-144x144.png' %}">
	<link rel="apple-touch-icon" sizes="152x152" href="{% static 'enem/img/favicon/apple-icon-152x152.png' %}">
	<link rel="apple-touch-icon" sizes="180x180" href="{% static 'enem/img/apple-icon-180x180.png' %}">
	<link rel="icon" type="image/png" sizes="192x192" href="{% static 'enem/img/favicon/android-icon-192x192.png' %}">
	<link rel="icon" type="image/png" sizes="32x32" href="{% static 'enem/img/favicon/favicon-32x32.png' %}">
	<link rel="icon" type="image/png" sizes="96x96" href="{% static 'enem/img/favicon/favicon-96x96.png' %}">
	<link rel="icon" type="image/png" sizes="16x16" href="{% static 'enem/img/favicon/favicon-16x16.png' %}">
	<link rel="manifest" href="{% static 'enem/img/favicon/manifest.json' %}">
	<meta name="msapplication-TileColor" content="#ffffff">
	<meta name="msapplication-TileImage" content="{% static 'enem/img/favicon/ms-icon-144x144.png' %}">
	<meta name="theme-color" content="#ffffff">
	<!-- JavaScript -->

	<!-- Google Adwords -->

</head>

<body>
	<header>
		<div class="container">
			<a href="/"><h1><img src="{% static 'enem/img/icon-logo-quizenem.svg' %}" alt="Quiz do Enem" title="Quiz do Enem" />Quiz do Enem</h1></a>

			<nav>
				<div id="profile" class="profile">

                    <!--<span class="profile-name">Renata<img src="{% static 'enem/img/arrow.svg' %}" alt="Arrow" /></span>-->
				</div>
				<div class="notication" style="display:none">
					<span class="notication-circle"><img src="{% static 'enem/img/icon-notification-quizenem.svg' %}" alt="Notification" /></span>
					<span class="notication-number">3</span>
					<span class="notication-number-circle"></span>
				</div>
			</nav>
		</div>
	</header>

	{% block content %}{% endblock content %}

    <script src="{% static 'enem/lib/react/build/react.js' %}" ></script>
    <script src="{% static 'enem/lib/react/build/react-dom.js' %}" ></script>
    <script src="{% static 'enem/lib/react/browser.min.js' %}" ></script>

    <script src="{% static 'enem/lib/jquery/jquery.min.js' %}" ></script>
    <script src="{% static 'enem/lib/jquery/jquery-ui.min.js' %}" ></script>

    <script type="text/babel" src="{% static 'enem/js/app/app.js' %}" ></script>

    <!--Analytics-->
    <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

      ga('create', 'UA-85230796-1', 'auto');
      ga('send', 'pageview');
    </script>

    <!--Facebook-->
    <div id="fb-root"></div>
    <script>(function(d, s, id) {
      var js, fjs = d.getElementsByTagName(s)[0];
      if (d.getElementById(id)) return;
      js = d.createElement(s); js.id = id;
      js.src = "//connect.facebook.net/en_US/sdk.js#xfbml=1&version=v2.8&appId=1189597617791998";
      fjs.parentNode.insertBefore(js, fjs);
    }(document, 'script', 'facebook-jssdk'));</script>

    <!--Twitter-->
    <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>
</body>
</html>
