{% extends "enem/base.html" %}
{% load static %}

{% block content %}
	<section>
		<div class="container container-rounded">
			<div id="progress-bar"></div>
            <div id="questions">
				<div id="loading" style="margin: 0 auto; max-width:50%; text-align: center;">
                    <p>Aguarde enquanto selecionando as questões pra você.</p>
                    <img src="{% static 'enem/img/loading.gif' %}" />
                </div>
			</div>
		</div>
	</section>
{% endblock content %}