<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>QuizEnem</title>

    {% load static %}

    <link rel="stylesheet" type="text/css" href="{% static 'enem/css/app.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'enem/css/bootstrap.css' %}" />
</head>
<body>
    <div class="container" id="content-box">
        <div class="page-header" >
            <img src="{% static 'enem/img/book-icon.png' %}" id="book-icon"/>
            <h1 id="title-left-book-icon">QuizEnem!</h1>
            <div style="clear:both"></div>
        </div>

        <div id="progress-bar"></div>
        <div id="questions" >
            <div style="text-align: center;" id="loading">
                <h2>Aproveite o tempo para relaxar enquanto separo as questões.</h2>
                <img src="{% static 'enem/img/loading.gif' %}" alt="loading" />
            </div>
        </div>
    </div>
    <footer id="footer" class="container"></footer>
</body>
</html>