{% extends "enem/base.html" %}
{% load static %}

{% block content %}
	<section>
		<div class="container container-rounded">
            <div class="row">
                <div class="col-md-3 col-sm-12">
                    <img src="{% static 'enem/img/books.jpg'%}" />
                </div>
                <div class="col-md-9 col-sm-12">
                        <h1 style="color: #000">Oi! Eu sou o Quiz. Você já deve me conhecer.</h1>
                        <p>Aqui vamos praticar seus conhecimentos respondendo as questões das provas anteriores do Enem.</p>

                        <h3>Prepare uma boa xícara de café e vamos praticar!</h3>
                    <div class="col-md-4 col-sm-12">
                        <a href="/questions"><button class="start">Começar</button></a>
                    </div>

                    <div style="padding-top:21px" class="col-md-2 col-sm-12">
                        <div class="fb-share-button" data-href="http://quizduenem.com.br" data-layout="box_count" data-size="large" data-mobile-iframe="true"><a class="fb-xfbml-parse-ignore" target="_blank" href="https://www.facebook.com/sharer/sharer.php?u=http%3A%2F%2Fquizduenem.com.br%2F&amp;src=sdkpreparse">Compartilhar</a></div>
                    </div>

                    <div style="padding-top:50px; " class="col-md-1 col-sm-12">
                        <a href="https://twitter.com/share" class="twitter-share-button" data-text="Prepare-se para o enem com questões das provas anteriores." data-size="large">Tweet</a>
                    </div>

                </div>
            </div>
	</section>
{% endblock content %}